*~
*.swp
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
/.idea
/.idea/*
.project
.settings
.classpath
target
legacy
.idea
bin
gen
log
out
gen-external-apklibs
classes
.directory
local.properties
.gradle
.git/
ota/
build/
tmp/
test/robolectric/.gradle/
